DEV_WALLET_PRIVATE_KEY=3uLwiLTTWJq3UVioaUiZkodsQf78wVV8NxtZ334YeBERSwudfqvwJqqXFkYY8qqtwHApXa2XmRu3gXefr5GStFaM
RPC_URL=https://mainnet-rpc.swanchain.org
TOKEN_MINT=83ikmfCyRhiuKPRWQHe9haeomhh4Wj8aA5VKc116pump
BURN_PERCENTAGE=2.5%
BURN_WALLET_ADDRESS=bc1q0frvpzwftdzf0afhw5c6yq70dac7w98mjtcyug